<!-- contact -->
<div class="contact" id="mail">
	<div class="container">
		<h3 class="animated wow zoomIn" data-wow-delay=".5s"><span>Mail Us</span></h3>
		<div class="mail-grids">
			<div class="col-md-6 mail-grid-left animated wow slideInLeft" data-wow-delay=".5s">
				{% include contact-form.html %}
			</div>
			<div class="col-md-6 mail-grid-right">
				{% if site.contact %}
				<div class="get-in animated wow slideInUp" data-wow-delay=".5s">
					<h4>Get In Touch</h4>
					<ul>
						{% for contact in site.contact %}
						<li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>{{ contact }}</li>
						{% endfor %}
					</ul>
				</div>
				{% endif %}
				{% if site.address %}
				<div class="get-in animated wow slideInUp" data-wow-delay=".6s">
					<h4>Where We Are</h4>
					<ul>
						{% for address in site.address %}
						<li>
							{% if forloop.first %}
							<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
							{% endif %}
							{{ address }}
						</li>
						{% endfor %}
					</ul>
				</div>
				{% endif %}
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- //contact -->