<!-- gallery -->
<div class="gallery" id="gallery">
	<h3 class="animated wow zoomIn" data-wow-delay=".5s"><span>Photo Gallery</span></h3>
	<div class="gallery-grids">
		<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
			<ul id="myTab" class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">All</a></li>
				<li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">Wedding</a></li>
				<li role="presentation"><a href="#costumes" role="tab" id="costumes-tab" data-toggle="tab" aria-controls="costumes">Costumes</a></li>
				<li role="presentation"><a href="#honeyMoon" role="tab" id="honeyMoon-tab" data-toggle="tab" aria-controls="honeyMoon">HoneyMoon</a></li>
				<li role="presentation"><a href="#celebrations" role="tab" id="celebrations-tab" data-toggle="tab" aria-controls="celebrations">Celebrations</a></li>
			</ul>
			<div id="myTabContent" class="tab-content">
				<div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
					<div class="tab_img">
						{% for photo in site.data.gallery.wedding %}
						<div class="col-md-3 portfolio-grids">
							<a href="{{ site.baseurl }}/{{ photo.image }}" rel="title" class="b-link-stripe b-animate-go thickbox">
								<img src="{{ site.baseurl }}/{{ photo.image }}" class="img-responsive zoom-img" alt=""/>
								<div class="b-wrapper">
									<h5>{{ photo.title }}</h5>
									<p>{{ photo.description }}</p>
								</div>
							</a>
						</div>
						{% endfor %}
						{% for photo in site.data.gallery.celebrations %}
						<div class="col-md-3 portfolio-grids">
							<a href="{{ site.baseurl }}/{{ photo.image }}" rel="title" class="b-link-stripe b-animate-go thickbox">
								<img src="{{ site.baseurl }}/{{ photo.image }}" class="img-responsive zoom-img" alt=""/>
								<div class="b-wrapper">
									<h5>{{ photo.title }}</h5>
									<p>{{ photo.description }}</p>
								</div>
							</a>
						</div>
						{% endfor %}
						{% for photo in site.data.gallery.honeymoon %}
						<div class="col-md-3 portfolio-grids">
							<a href="{{ site.baseurl }}/{{ photo.image }}" rel="title" class="b-link-stripe b-animate-go thickbox">
								<img src="{{ site.baseurl }}/{{ photo.image }}" class="img-responsive zoom-img" alt=""/>
								<div class="b-wrapper">
									<h5>{{ photo.title }}</h5>
									<p>{{ photo.description }}</p>
								</div>
							</a>
						</div>
						{% endfor %}
						<div class="clearfix"> </div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
					<div class="tab_img">
						{% for photo in site.data.gallery.celebrations %}
						<div class="col-md-3 portfolio-grids">
							<a href="{{ site.baseurl }}/{{ photo.image }}" rel="title" class="b-link-stripe b-animate-go thickbox">
								<img src="{{ site.baseurl }}/{{ photo.image }}" class="img-responsive zoom-img" alt=""/>
								<div class="b-wrapper">
									<h5>{{ photo.title }}</h5>
									<p>{{ photo.description }}</p>
								</div>
							</a>
						</div>
						{% endfor %}
						<div class="clearfix"> </div>
					</div>	
				</div>
				<div role="tabpanel" class="tab-pane fade" id="costumes" aria-labelledby="costumes-tab">
					<div class="tab_img">
						{% for photo in site.data.gallery.costumes %}
						<div class="col-md-3 portfolio-grids">
							<a href="{{ site.baseurl }}/{{ photo.image }}" rel="title" class="b-link-stripe b-animate-go thickbox">
								<img src="{{ site.baseurl }}/{{ photo.image }}" class="img-responsive zoom-img" alt=""/>
								<div class="b-wrapper">
									<h5>{{ photo.title }}</h5>
									<p>{{ photo.description }}</p>
								</div>
							</a>
						</div>
						{% endfor %}
						<div class="clearfix"> </div>
					</div>	
				</div>
				<div role="tabpanel" class="tab-pane fade" id="honeyMoon" aria-labelledby="honeyMoon-tab">
					<div class="tab_img">
						{% for photo in site.data.gallery.honeymoon %}
						<div class="col-md-3 portfolio-grids">
							<a href="{{ site.baseurl }}/{{ photo.image }}" rel="title" class="b-link-stripe b-animate-go thickbox">
								<img src="{{ site.baseurl }}/{{ photo.image }}" class="img-responsive zoom-img" alt=""/>
								<div class="b-wrapper">
									<h5>{{ photo.title }}</h5>
									<p>{{ photo.description }}</p>
								</div>
							</a>
						</div>
						{% endfor %}
						<div class="clearfix"> </div>
					</div>	
				</div>
				<div role="tabpanel" class="tab-pane fade" id="celebrations" aria-labelledby="celebrations-tab">
					<div class="tab_img">
						{% for photo in site.data.gallery.celebrations %}
						<div class="col-md-3 portfolio-grids">
							<a href="{{ site.baseurl }}/{{ photo.image }}" rel="title" class="b-link-stripe b-animate-go thickbox">
								<img src="{{ site.baseurl }}/{{ photo.image }}" class="img-responsive zoom-img" alt=""/>
								<div class="b-wrapper">
									<h5>{{ photo.title }}</h5>
									<p>{{ photo.description }}</p>
								</div>
							</a>
						</div>
						{% endfor %}
						<div class="clearfix"> </div>
					</div>	
				</div>
			</div>
		</div>
	</div>
	{% if site.google_map %}
	<div class="map animated wow slideInLeft" data-wow-delay=".5s">
		<iframe src="{{ site.google_map }}" style="border:0"></iframe>
	</div>
	{% endif %}
</div>
<!-- //gallery -->