<!-- banner -->
<div class="banner" id="home1">
	<div class="container">
		{% if site.contactno %}
		<div class="banner-phone animated wow slideInLeft" data-wow-delay=".5s">
			<p><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>{{ site.contactno }}</p>
		</div>
		{% endif %}
		<div class="logo animated wow zoomIn" data-wow-delay=".5s">
			<h1><a href="{{ site.baseurl }}"><span></span>{{ site.title }}</a></h1>
		</div>
		<div class="banner-social animated wow slideInRight" data-wow-delay=".5s">
			<ul class="social-icons">
				{% if site.social.facebook and site.social.facebook != 'FACEBOOK_URL' %}
				<li><a href="{{ site.social.facebook }}" class="icon-button facebook"><i class="icon-facebook"></i><span></span></a></li>
				{% endif %}
				{% if site.social.instagram and site.social.instagram != 'INSTAGRAM_URL' %}
				<li><a href="{{ site.social.instagram }}" class="icon-button instagram"><i class="icon-instagram"></i><span></span></a></li>
				{% endif %}
				{% if site.social.twitter and site.social.twitter != 'TWITTER_URL' %}
				<li><a href="{{ site.social.twitter }}" class="icon-button twitter"><i class="icon-twitter"></i><span></span></a></li>
				{% endif %}
				{% if site.social.googleplus and site.social.googleplus != 'GOOGLEPLUS_URL' %}
				<li><a href="{{ site.social.googleplus }}" class="icon-button g-plus"><i class="icon-g-plus"></i><span></span></a></li>
				{% endif %}
			</ul>
		</div>
		<div class="clearfix"> </div>
		<div class="banner-info animated wow zoomIn" data-wow-delay=".5s">
			<p>{{ site.subtitle }}</p>
		</div>
		<div class="navigation">
			<nav class="navbar navbar-default">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
					<nav class="link-effect-14" id="link-effect-14">
						<ul class="nav navbar-nav">
							{% include nav.html %}
						</ul>
					</nav>
				</div>
				<!-- /.navbar-collapse -->
			</nav>
		</div>
	</div>
</div>
<!-- //banner -->
{% include bottombanner.html %}