<!-- newsletter -->
<div class="newsletter">	
	<div class="container">
		<h3 class="animated wow zoomIn" data-wow-delay=".5s"><span>Newsletter</span></h3>
		<div class="newsletter-grids">	
			<div class="col-md-7 newsletter-grid-left animated wow slideInLeft" data-wow-delay=".5s">
				{% include newsletter-form.html %}
			</div>
			<div class="col-md-5 newsletter-grid-right animated wow slideInRight" data-wow-delay=".5s">
				<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam 
					vel illum qui dolorem eum fugiat quo volupta.</p>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- //newsletter -->