<form action="{{ site.newsletter_form_url }}" method="post">
	<input type="email" name="Email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
	<input type="submit" value="Subscribe">
</form>