<!-- services -->
<div class="services" id="services">
	<div class="container">
		<h3 class="animated wow zoomIn" data-wow-delay=".5s"><span>Services</span></h3>
		<div class="services-grids">
			{% for service in site.data.services %}
			<div class="col-md-3 services-grid">
				<div class="services-grid1">
					<span class="{{ service.icon }}" aria-hidden="true"></span>
				</div>
				<div class="bootstrap-pop-up">
					<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
					  {{ service.title }}
					</button>
					<!-- Modal -->
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					  <div class="modal-dialog" role="document">
						<div class="modal-content">
						  <div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">{{ service.title }}</h4>
						  </div>
						  <div class="modal-body">
							{{ service.description }}
						  </div>
						</div>
					  </div>
					</div>
				</div>
				<p>{{ service.short }}</p>
			</div>
			{% endfor %}
			<div class="clearfix"> </div>
		</div>
		{% include wedding.html %}
	</div>
</div>
<!-- //services -->
<!-- services-bottom -->
<div class="services-bottom">
	<div class="container">
		<h2 class="animated wow slideInLeft" data-wow-delay=".5s">{{ site.thought }}</h2>
		<p class="animated wow slideInUp" data-wow-delay=".5s">{{ site.thought_author }}</p>
	</div>
</div>
<!-- //services-bottom -->